@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 75%;
    text-align: center;
    background-image: linear-gradient(rgb(183, 251, 253), rgb(245, 245, 163));;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}